@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #FFFFFF;
  --basic-light: #F2F2F2;
  --basic-neutral: #EEEEEE;
  --basic-dark: #333333;
  --basic-black: #000000;

  --special-gray-hover: #EBEBEB;
  --special-gray-focus: #E5E5E5;

  --special-blue: #81B3D2;
  --special-blue-hover: #669EC0;
  --special-blue-click: #5496BD;

  --special-brown: #766357;
  --special-brown-hover: #604E43;
  --special-brown-click: #503E33;

  --filter-disabled: #6A6A6A;
  --filter-dot: #ABABAB;
  --filter-rating: #666666;

  --sort-basic: #CACACA;

  --icon-gray: #A9A9A9;

  --logo-click: #BDBBBC;

  --opacity-black: rgba(0, 0, 0, 0.3);
  --opacity-white: rgba(255, 255, 255, 0.3);

  --footer-bg: rgba(255, 255, 255, 0.9);

  --shadow-wrapper: rgba(0, 1, 1, 0.2);
  --shadow-form: rgba(0, 1, 1, 0.15);
  --shadow-toggler: rgba(171, 171, 171, 0.3);
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-light);

  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.wrapper {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--shadow-wrapper);

  width: 1200px;
  margin: 0 auto;

  text-align: center;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main Navigation */

.main-header {
  margin: 0 53px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation {
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;
  color: var(--basic-black);

  position: relative;
}

.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.navigation-item-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navigation-item-box:first-child {
  text-align: start;
}

.navigation-item-box:nth-child(2) {
  text-align: start;

  padding-left: 9px;
}

.navigation-item-box:nth-child(3) {
  grid-column: -3 / -2;

  text-align: end;

  padding-right: 7px;
}

.navigation-item-box:last-child {
  text-align: end;
}
/* User Navigation */

.navigation-item {
  color: var(--basic-black);
  padding: 19px;
}

.navigation-item:hover {
  color: var(--special-blue-hover);
  background-color: var(--basic-neutral);
}

.navigation-item:focus {
  color: var(--special-brown);
}

.navigation-item:active {
  color: var(--opacity-black);
}

/* Welcome */

.wrap-container-features {
  line-height: 26px;

  min-height: 725px;
}

.wrap-container-photo {
  background-image: url(../img/welcome/background.jpg);
  background-repeat: no-repeat;
  background-color: var(--special-blue);

  height: 509px;
}

.welcome-sedona {
  margin-top: 77.35px;

  width: 456.65px;
  height: 350.88px;
}

.features-heading-box {
  box-sizing: border-box;
  height: 216px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 42.5px;
  padding-bottom: 51px;

  position: relative;
}

.features-heading-box::before {
  content: "";
  position: absolute;
  height: 57px;
  width: 1200px;
  background-image: url("../img/welcome/background-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -26%;
  transform: translateY(-1px);
}

.features-heading {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  color: var(--basic-black);

  margin: 0;
  padding: 0;
}

.features-heading-text {
  margin: 0;
  padding: 0;
}

/* Features */

.features-list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features-item {
  min-height: 256px;
}

.features-flex-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 47px 47px 54px;
}

.features-item:first-child,
.features-item:nth-child(2) {
  grid-column: 1 / -1;
}

.features-item:first-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-item:nth-child(2) {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-item:nth-child(2) .features-photo {
  order: 1;
}

.features-item:nth-child(2) .features-container {
  order: 2;
}

.features-container {
  background-color: var(--special-blue);
  color: var(--basic-white);

  max-height: 256px;
}

.features-container-heading {
  color: var(--basic-white);
}

.features-item .features-heading,
.features-container .features-heading {
  margin: 0;
}

.features-item-heading {
  width: 150px;
  word-wrap: break-word;
}

.features-item-number {
  margin: 0;
}

.features-item-text {
  margin: 0;
}

.features-gray {
  background-color: var(--basic-neutral);
}

/* Benefits */

.benefits-list {
  list-style: none;

  background-color: var(--basic-white);
  color: var(--basic-dark);

  min-height: 330px;

  margin: 0;
  padding: 0;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.benefits-item {
  max-height: 330px;

  padding: 160px 55px 82px;

  position: relative;
}

.benefits-item:first-child::before{
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background-image: url(../img/icons/icon-house.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 18%;
}

.benefits-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  background-image: url(../img/icons/icon-food.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 20%;
  transform: translateY(-8%);
}

.benefits-item:last-child::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  background-image: url(../img/icons/icon-gifts.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 20%;
  transform: translateY(-16%);
}

.benefits-heading {
  color: var(--basic-black);
}

.benefit-text {
  margin: 0;
}

/* Search */

.search {
  position: relative;
}

.wrap-search {
  box-sizing: border-box;
  height: 291px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.wrap-container-search {
  line-height: 24px;

  box-sizing: border-box;
  height: 123px;
  margin-bottom: 45px;
  padding-top: 18px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container-search-heading {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 30px;
  color: var(--basic-black);

  margin: 0;

  transform: translateX(-5px);
}

.container-search-text {
  margin: 0;
  padding: 0;
}

.search-form {
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;

  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--shadow-form);

  max-width: 568px;
  margin: 0 auto;

  box-sizing: border-box;
  height: 395px;
  padding: 55px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin: 0;
  height: 38px;

  position: relative;
}

.search-item:first-child,
.search-item:nth-child(2) {
  grid-column: 1 / -1;
}

.search-item-label {
  display: flex;
  align-items: center;
}

.search-item:nth-child(4) .search-item-label {
  margin-left: 26px;
  justify-self: center;
}

.search-item:nth-child(3) .search-item-input {
  margin-right: 3px;
}

.search-item-input {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-light);
  border: none;

  padding: 0;
}

.search-item-input[type=text] {
  width: 346px;

  box-sizing: border-box;
  padding-left: 13px;
}

.search-item-input[type=number] {
  width: 114px;

  text-align: center;

  -moz-appearance: textfield; /* Для Firefox */
}

.search-item-input[type=number]::-webkit-outer-spin-button,
.search-item-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Для Chrome, Safari, Edge, Opera */
  margin: 0;
}

.search-item-input:hover {
  background-color: var(--special-gray-hover);
}

.search-item-input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-gray-focus);
}

.form-calendar {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 15%;
  right: 0;
  transform: translate(-15%, 5%);

  border: 0;
  background: none;
  outline: 0;

  cursor: pointer;
}

.form-calendar-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.form-calendar-icon:hover path {
  fill: var(--basic-black);
}

.form-calendar-icon:active path {
  fill: var(--special-blue);
}

.btn-minus {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 55%;
  top: 30%;
  transform: translate(-5%, 6%);


  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.btn-minus-icon {
  position: absolute;
  left: 0;
  top: 50%;
}

.btn-minus:hover rect {
  fill: var(--basic-black);
}

.btn-minus:active rect {
  fill: var(--special-blue);
}

.btn-minus-kids {
  transform: translateX(20%);
}

.btn-plus {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5%;
  top: 30%;
  transform: translate(-10%, 25%);

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.btn-plus-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.btn-plus:hover path {
  fill: var(--basic-black);
}

.btn-plus:active path {
  fill: var(--special-blue);
}

.btn-plus-kids {
  transform: translate(15%, 25%);
}

/* Filter */

.filter {
  background-image: url(../img/background-catalog.png);
  background-repeat: no-repeat;
  background-color: var(--special-blue);
  background-size: cover;
  color: var(--basic-white);

  min-height: 217px;
  box-sizing: border-box;
  padding: 26px 73px 32px;
}

.filter-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  max-height: 159px;
}

.filter-field {
  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}

.filter-type {
  margin-right: 230px;
}

.price-and-submit {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;


  width: 317px;
  height: 158px;
}

.filter-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;

  float: left;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 25px;
}

.filter-item {
  margin-bottom: 25px;
  margin-left: 20px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-label {
  font-family: "PT Sans", Arial, sans-serif;
  margin-left: 20px;

  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input {
  border: none;
  color: var(--basic-white);
  background: none;
  outline: none;
}

.filter-input + .filter-label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -41px;
  background-image: url(../img/icons/checkbox-off.svg);
}

.filter-input:checked + .filter-label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
}

.filter-input:disabled + .filter-label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off-dis.svg);
}

.filter-input:checked:disabled + .filter-label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on-dis.svg);
}

.range-filter {
  width: 317px;
  margin-top: 10px;
}

.range-controls {
  margin-top: 15px;
  padding-left: 10px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--opacity-white);
}

.bar {
  width: 82%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-dot);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--shadow-toggler);
  cursor: pointer;

  position: absolute;
  top: -10px;
  left: 0;
}

.toggle:hover {
  transform: scale(1.2);
}

.toggle-max {
  left: 252px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background-color: var(--basic-white);
  transform: translate(-50%, -50%);
}

.price-label {
  font-family: "PT Sans", Arial, sans-serif;
  margin-left: 0;

  display: inline-block;
  cursor: pointer;
}

.min-price,
.max-price {
  width: 105px;
}

.min-price {
  margin-top: 5px;
  margin-left: 36px;
  margin-right: 38px;
}

.price-input {
  font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);

  width: 50px;
  margin: 0;

  background: none;
  border: none;
  outline: none;
}

.price-input[type=number] {
  -moz-appearance: textfield; /* Для Firefox */
}

.price-input[type=number]::-webkit-outer-spin-button,
.price-input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Для Chrome, Safari, Edge, Opera */
  margin: 0;
}

/* Sort */

.sort {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  align-items: center;

  padding: 29px 0;
  box-sizing: border-box;
  height: 86px;
}

.sort-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);

  margin: 0;
}

.sort-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin-left: 46px;
  padding-bottom: 5px;
}

.sort-heading {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);

  margin: 0;
}

.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-radio-list {
  margin-left: 40px;
}

.sort-radio-item {
  margin-right: 32px;
}

.sort-radio-item:last-child {
  margin-right: 0;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  color: var(--opacity-black);

  border-bottom: 1px dotted var(--special-blue);
}

.sort-label:hover {
  color: var(--special-blue);
}

.sort-label:active {
  color: var(--basic-black);

  border: none;
}

.sort-input {
  display: none;
}

.sort-input:checked ~ .sort-label {
  color: var(--special-blue);
  border: none;
}

.sort-pagination-container {
  width: 34px;
  margin: 0;
}

.sort-pagination {
  color: var(--sort-basic);
}

.sort-pagination:hover path {
  fill: var(--basic-black);
}

.sort-pagination:active path,
.sort-pagination:focus path {
  fill: var(--special-blue);
}

/* Hotels */

.hotels {
  margin: 0 73px;

  height: 540px;
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 454px;

  display: grid;
  grid-template-columns: 1fr;
}

.hotel-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 400px;

  height: 150px;

  padding: 25px 0;
  box-sizing: border-box;
}

.hotel-item-container {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.hotel-item-photo {
  min-width: 135px;
  min-height: 90px;

  align-self: center;
}

.hotel-item-desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: 29px;
}

.hotel-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);

  margin: 0;
  width: max-content;
}

.hotel-title:hover {
  color: var(--special-blue);
}

.hotel-title:active {
  color: var(--opacity-black);
}

.hotel-info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.hotel-info-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: max-content;
}

.hotel-info-text {
  margin: 0;
  width: max-content;
  margin-bottom: 15px;
}

.hotel-rating-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4px 0;
}

.hotel-rating {
  color: var(--filter-rating);
  background-color: var(--basic-light);

  margin: 0;
  padding: 3px 12px 3px 15px;
}

.hotel-rating-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-rating-star {
  margin-right: 4px;
}

.hotel-rating-star:last-child {
  margin-right: 0;
}

/* Footer */

.main-footer {
  position: relative;
}

.footer-wrapper-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: absolute;
  bottom: 0;

  background-color: var(--footer-bg);
  width: 1200px;
  z-index: 1;
}

.footer-wrapper-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-contacts {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);

  margin-left: 73px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts-heading,
.footer-contacts-phone {
  margin: 0;
}

.footer-contacts-heading {
  margin-top: 23px;
  margin-bottom: 9px;

  font-size: 21px;
}

.footer-contacts-phone {
  margin-bottom: 36px;
}

.footer-phone {
  color: var(--basic-black);
}

.footer-phone:hover {
  color: var(--special-blue);
}

.footer-phone:active {
  color: var(--opacity-black);
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  margin-right: 6px;
}

.social-button:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--special-blue);
}

.social-link:hover {
  background-color: var(--special-blue-hover);
}

.social-link:active {
  background-color: var(--special-blue-click);
}

.social-link:active path {
  fill: var(--opacity-white);
}

.footer-copyright {
  line-height: 26px;

  margin-right: 73px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 0 46px;
}

.footer-copyright-text {
  padding: 0;
  margin: 0;

  margin-left: 12px;
}

.footer-copyright-link {
  color: var(--basic-black);
  margin-top: 8px;
  margin-right: 4px;
}

.footer-copyright-link:hover path {
  fill: var(--special-blue);
}

.footer-copyright-link:active path {
  fill: var(--logo-click);
}

/* Buttons */

.button {
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;

  cursor: pointer;
}

.btn-brown {
  background-color: var(--special-brown);
}

.btn-brown:hover {
  background-color: var(--special-brown-hover);
}

.btn-brown:active {
  background-color: var(--special-brown-click);
  color: var(--opacity-white);
}

.btn-blue {
  background-color: var(--special-blue);
}

.btn-blue:hover {
  background-color: var(--special-blue-hover);
}

.btn-blue:active {
  background-color: var(--special-blue-click);
  color: var(--opacity-white);
}

.btn-search {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.btn-search[type=submit] {
  width: 458px;
  height: 58px;

  justify-self: center;
  align-self: end;

  grid-column: 1 / -1;
}

.btn-search[type=button] {
  width: 568px;
  height: 86px;
}

.btn-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;

  background: none;

  border: 2px solid var(--basic-white);
  border-radius: 2px;

  width: 137px;
  height: 36px;

  align-self: center;
  margin-right: 10px;
}

.btn-filter:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.btn-more {
  padding: 3px 16px 3px 17px;
  margin-right: 6px;
}

.btn-book {
  padding: 3px 18px 3px 16px;
}
