@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #FFFFFF;
  --basic-light: #F2F2F2;
  --basic-neutral: #EEEEEE;
  --basic-dark: #333333;
  --basic-black: #000000;

  --special-gray-hover: #EBEBEB;
  --special-gray-focus: #E5E5E5;

  --special-blue: #81B3D2;
  --special-blue-hover: #669EC0;
  --special-blue-click: #5496BD;

  --special-brown: #766357;
  --special-brown-hover: #604E43;
  --special-brown-click: #503E33;

  --filter-disabled: #6A6A6A;
  --filter-dot: #ABABAB;
  --filter-rating: #666666;

  --sort-basic: #CACACA;

  --icon-gray: #A9A9A9;

  --logo-click: #BDBBBC;

  --opacity-black: rgba(0, 0, 0, 0.3);
  --opacity-white: rgba(255, 255, 255, 0.3);

  --footer-bg: rgba(255, 255, 255, 0.9);

  --shadow-wrapper: rgba(0, 1, 1, 0.2);
  --shadow-form: rgba(0, 1, 1, 0.15);
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-light);

  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.wrapper {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--shadow-wrapper);

  width: 1200px;
  margin: 0 auto;

  text-align: center;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main Navigation */

.main-header {
  margin: 0 73px;
}

.main-header-logo {
  position: absolute;
  left: 863px;
}

.main-navigation {
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 127px 200px 400px 200px 127px;
}

.navigation-item-box:nth-child(3) {
  grid-column: -3 / -2;
}

.navigation-item-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navigation-item-box:first-child {
  text-align: start;
}

.navigation-item-box:nth-child(2) {
  text-align: end;
  padding-right: 2px;
}

.navigation-item-box:nth-child(3) {
  text-align: start;
  padding-left: 16px;
}

.navigation-item-box:last-child {
  text-align: end;
}
/* User Navigation */

.navigation-item {
  color: var(--basic-black);
}

.navigation-item:hover {
  color: var(--special-blue-hover);
}

.navigation-item:focus {
  color: var(--special-brown);
}

.navigation-item:active {
  color: var(--opacity-black);
}

/* Welcome */

.wrap-container-features {
  line-height: 26px;

  min-height: 725px;
}

.wrap-container-photo {
  background-image: url(../img/welcome/background.jpg);
  background-repeat: no-repeat;
  background-color: var(--special-blue);

  height: 509px;
}

.wrap-container-photo::after {
  position: absolute;
  content: "";
  height: 57px;
  width: 1200px;

  left: 332px;
  top: 606px;

  background-image: url(../img/welcome/background-mask.svg);
  background-repeat: no-repeat;
}

.welcome-sedona {
  margin-top: 77.35px;

  width: 456.65px;
  height: 350.88px;
}

.features-heading-box {
  height: 216px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-heading {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  color: var(--basic-black);

  margin: 0;
  padding: 0;
  margin-top: 42.5px;
}

.features-heading-text {
  margin: 0;
  padding: 0;

  margin-bottom: 51px;
}

/* Features */

.features-list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item {
  min-height: 256px;
}

.features-item:first-child .features-container,
.features-item:nth-child(2) .features-container,
.features-item:nth-child(3),
.features-item:nth-child(4),
.features-item:last-child,
.benefits-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.features-item:first-child,
.features-item:nth-child(2) {
  grid-column: 1 / -1;
}

.features-item:first-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features-item:nth-child(2) {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.features-item:nth-child(2) .features-photo {
  order: 1;
}

.features-item:nth-child(2) .features-container {
  order: 2;
}

.features-container {
  background-color: var(--special-blue);
  color: var(--basic-white);

  max-height: 256px;
}

.features-container-heading {
  color: var(--basic-white);

  padding: 47px 125px 25px 125px;
}

.features-item .features-heading,
.features-container .features-heading {
  margin: 0;
}

.features-item-number {
  margin: 0;

  padding-bottom: 23px;
}

.features-item-text {
  margin: 0;

  padding: 0 46px 54px 46px;
}

.features-gray {
  background-color: var(--basic-neutral);
}

.features-heading-gray {
  padding: 47px 140px 25px 140px;
}

.features-item:nth-child(3) .features-item-text {
  padding: 0 96px 54px 96px;
}

.features-item:nth-child(4) .features-item-text {
  padding: 0 70px 54px 70px;
}

.features-item:last-child .features-item-text {
  padding: 0 77px 54px 77px;
}

/* Benefits */

.benefits-list {
  list-style: none;

  background-color: var(--basic-white);
  color: var(--basic-dark);

  min-height: 330px;

  margin: 0;
  padding: 0;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.benefits-item {
  max-height: 330px;
}

.benefits-heading {
  color: var(--basic-black);

  padding-top: 160px;
  padding-bottom: 25px;
}

.benefit-text {
  margin: 0;
}

.benefits-item:first-child .benefit-text {
  padding: 0 73px 82px 73px;
}

.benefits-item:nth-child(2) .benefit-text {
  padding: 0 56px 82px 56px;
}

.benefits-item:last-child .benefit-text {
  padding: 0 65px 82px 65px;
}

/* Search */

.wrap-container-search {
  line-height: 24px;


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 42px;
}

.container-search-heading {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 30px;
  color: var(--basic-black);

  margin: 0;
  padding-right: 10px;
  padding-bottom: 33px;
}

.container-search-text {
  margin: 0;
  padding: 0;
}

.search-form {
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;

  box-shadow: 0px 7px 15px var(--shadow-form);

  max-width: 568px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-item:first-child,
.search-item:nth-child(2) {
  grid-column: 1 / -1;

  margin-left: 55px;
  margin-right: 55px;
}

.search-item:nth-child(3) {
  margin-left: 55px;
}

.search-item:nth-child(4) {
  margin-right: 55px;
}

.search-item:first-child {
  margin-top: 55px;
}

.search-item-label {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-bottom: 5px;
}

.search-item:nth-child(4) .search-item-label {
  justify-content: center;
  padding-left: 25px;
}

.search-item-input {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-light);
  border: none;

  height: 38px;
}

.search-item-input[type=text] {
  width: 346px;
  text-align: left;
}

.search-item-input[type=number] {
  width: 114px;
  text-align: center;
}

.search-item-input:hover {
  background-color: var(--special-gray-hover);
}

.search-item-input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-gray-focus);
}

/* Filter */

.filter {
  background-image: url(../img/background-catalog.png);
  background-repeat: no-repeat;
  background-color: var(--special-blue);
  background-size: cover;
  color: var(--basic-white);
}

.filter-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;
}

.filter-field {
  border: none;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-label {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-input {
  border: none;
  color: var(--basic-white);
  background: none;
  outline: none;
}

/* Sort */

.sort-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sort-heading {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
  padding: 0;
}

.sort-label {
  font-size: 12px;
  line-height: 18px;
  color: var(--opacity-black);

  border-bottom: 1px dotted var(--special-blue);
}

.sort-label:hover {
  color: var(--special-blue);
}

.sort-label:active {
  color: var(--basic-black);

  border: none;
}

.sort-input:checked ~ .sort-label {
  color: var(--special-blue);
  border: none;
}

.sort-pagination {
  color: var(--sort-basic);
}

.sort-pagination:hover {
  color: var(--basic-black);
}

.sort-pagination:active,
.sort-pagination:focus {
  color: var(--special-blue);
}

/* Hotels */

.hotels {
  margin: 0 73px;
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
}

.hotel-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 400px;
}

.hotel-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;

  color: var(--basic-black);
}

.hotel-title:hover {
  color: var(--special-blue);
}

.hotel-title:active {
  color: var(--opacity-black);
}

.hotel-rating {
  color: var(--filter-rating);
  background-color: var(--basic-light);
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--footer-bg);
}

.footer-contacts {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);

  margin-left: 73px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-contacts-heading,
.footer-contacts-phone {
  margin: 0;
}

.footer-contacts-heading {
  margin-top: 23px;
  margin-bottom: 9px;
}

.footer-contacts-phone {
  margin-bottom: 36px;
}

.footer-phone {
  color: var(--basic-black);
}

.footer-phone:hover {
  color: var(--special-blue);
}

.footer-phone:active {
  color: var(--opacity-black);
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.social-button {
  padding-right: 6px;
}

.social-button:last-child {
  padding-right: 0;
}

.social-link {
  background-color: var(--special-blue);
}

.social-link:hover {
  background-color: var(--special-blue-hover);
}

.social-link:active {
  background-color: var(--special-blue-click);
  color: var(--opacity-white);
}

.footer-copyright {
  line-height: 26px;

  margin-right: 73px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-copyright-link {
  color: var(--basic-black);
}

.footer-copyright-link:hover {
  color: var(--special-blue)
}

.footer-copyright-link:active {
  color: var(--logo-click);
}

/* Buttons */

.button {
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;
}

.btn-brown {
  background-color: var(--special-brown);
}

.btn-brown:hover {
  background-color: var(--special-brown-hover);
}

.btn-brown:active {
  background-color: var(--special-brown-click);
  color: var(--opacity-white);
}

.btn-blue {
  background-color: var(--special-blue);
}

.btn-blue:hover {
  background-color: var(--special-blue-hover);
}

.btn-blue:active {
  background-color: var(--special-blue-click);
  color: var(--opacity-white);
}

.btn-search {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}

.btn-search[type=submit] {
  width: 458px;
  height: 58px;

  margin: 55px;
  margin-top: 37px;

  grid-column: 1 / -1;
}

.btn-search[type=button] {
  width: 568px;
  height: 86px;
}

.btn-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;

  background: none;

  border: 2px solid var(--basic-white);
  border-radius: 2px;
}
